/* General styling for KaiOS */
body {
  background: url('https://teslakitty-cdn.netlify.app/cookie2/background.png') no-repeat center center fixed; 
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  user-select: none;
}

#cookie {
  cursor: pointer;
  user-select: none;
  width: 50%;
  max-width: 200px;
  height: auto;
}

#score {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  color: black;
}

button:hover {
  background-color: #f2f2f2;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider.round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#volumeSlider {
  margin-top: 1rem;
  width: 150px;
  cursor: pointer;
}
